---
title: Home
layout: default
---
<main>
    <section class="p-4 container-fluid">
        
<!-- 

        {% include navigation.html %} -->
        <div class="row align-items-end justify-content-center">
            <div class="col-3">
                <img class="filter-grey" width="90%" alt="Why build Bryn Mawr?" src="{{ '/assets/images/wbbm-logo-black.svg' | relative_url}}">
            </div>
            <div class="col-6 py-3">
                <!-- <h1 style="color:black" class="display-3 pt-3">Why Build Bryn Mawr?</h1> -->
                <h1 class="display-3">Who Built Bryn Mawr?</h1>
            <!-- <h2 class="">1872-1894</h2> -->
            </div>
        </div>
    </section>
    <section class="container-fluid bg-dark">
        <div class="container">
            <div class="row p-3 d-flex justify-content-center">
                <div class="col-md-9">
                <p><a href="https://www.brynmawr.edu/about-college/history/bryn-mawr-histories/who-built-bryn-mawr"><strong>Who Built Bryn Mawr?</strong></a> is an ongoing project that supports research and curatorial opportunities for students interested in changing the way the College understands its history. Over its 135+ years, the College has been sustained by countless individuals — not just the presidents, trustees, and donors memorialized on campus. Who are the people whose contributions have been forgotten, or too long overlooked? How can we tell their stories? How can we commemorate them?</p>
                </div>
                <div class="col-lg-4 link-container">
                    <a class="link-button" href="{{ '/blog/' | relative_url}}">Read our blog</a>
                    <a class="link-button" href="{{ '/wbbm/' | relative_url}}">Explore past exhibits</a>
                </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- <section class="footer p-2">
        <div class="container">
        <a href="https://www.brynmawr.edu/">Bryn Mawr College</a>, 2022
        </div>
    </section> -->

</main>
<footer>
    <section class="footer">
        <div class="container">
            <nav class="navbar">
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}">Who Built Bryn Mawr?</a></li>

                    {% for item in site.data.menu %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <a class="bmc-link" href="https://www.brynmawr.edu/">Bryn Mawr College, 2023</a>
            </nav>
            
        </div>
    </section>
</footer>