
<div class="post-list">
    {% for post in site.posts %}
    {% if post.phase == page.phase or page.phase == "all" %}
    <hr>
        <div class="row py-2">
            {% if post.key_image %}
                <div class="col-md-3 col-sm-6">
                <img src="{{ post.key_image.url }}" class="img-thumbnail" >
                </div>
            {% endif %}
            <div class="col-md-9">
            <h3><a href="{{ post.url | relative_url}}">{{ post.title }}</a></h3>
            <p class=""><strong>{{ post.author }}</strong> -- {{ post.date | date: "%b %d, %Y" }}</p>
            <p>{{ post.description }}</p>
            </div>
        <div>
    {% endif %}
    {% endfor %}
</div>
