


body {
    font-family: $main-font;
    color: $text-color;
    background-color: black;
    font-size: $regular-font-size;
}

a {
    color: $link-color;
    text-decoration: none;
}

.P4 a {
    color: $P4-link-color;
}

a:hover {
    color: $link-color-hover;
}

.P4 a:hover {
    color: $P4-link-color-hover;
}

h1 {
    color: $heading-color;
}

/* .figure-img {
    max-width: 75%
} */

.post-body img {
    max-width: 100%;
}

.post-body figure img {
    max-width: 75%;
    text-align: center;
}

/* logo filters */

.filter-green {
    filter: invert(56%) sepia(74%) saturate(979%) hue-rotate(120deg) brightness(93%) contrast(101%);
}

.filter-grey {
    filter: invert(100%);
}

/* links that look like buttons */

.link-container {
    text-align: center;
    width: 100%;
}

.link-button {
    color: black; /* purple: #7C2BA1 */
    background-color: $link-color;
    padding: .5rem .75rem;
    margin: 0 0 0.25rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 1000;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.P4 .link-button {
    color: #1D67E5;
    background-color: white;
}

.link-button:hover {
    color: black; /* purple: #7C2BA1 */
    background-color: $link-color-hover; /* purple: #E7D4F2 */
}

.P4 .link-button:hover {
    color: white; /* purple: #7C2BA1 */
    background-color: #1D67E5; /* purple: #E7D4F2 */
}

/* ----- WBBM Home Page ----- */

/* .home-header {
    margin-top: 4rem;
    margin-bottom: 1rem;
} */

/* ----- Phase Grid ----- */

.phase-grid h3 {
    font-size: 1.5rem;
}

.phase-grid p {
    font-size: 1.25rem;
}


/* ----- Media Items ----- */

.media-container {
    margin-bottom: 1rem
}

.align-left {
    float: left;
    margin-right: 0.5rem;
    width: 48%;
}

.align-right {
    float: right;
    margin-left: 0.5rem;
    width: 48%;
}

.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 480px) {
    .align-left, .align-right {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.media-container img, iframe {
    width: 100%;
}

.media-container.yt-video iframe {
    aspect-ratio: 16 / 9;
}

.media-container .image-caption {
    font-size: 1rem;
    color: #ADB2B8;
    background-color: black;
    padding: 0.25rem;
}

.media-container .metadata-container {
    font-size: 1rem;
    color: #ADB2B8;
    background-color: black;
    padding: 0.25rem;
    width: 100%;
}

.media-container .metadata-container th:first-child, .media-container .metadata-container td:first-child {
    padding-right: 2rem;
}

.media-container .metadata-container td {
    color: white;
}

/* ----- Cards ----- */

.card.wide-card {
    width: 100%;
    height: 10rem;
    margin-bottom: 1rem;

    .card-img {
        height: 100%;
        object-fit: cover;
    }

    a {
        width: 100%;
        height: 100%;

        .card-img-overlay {
            background-color: #0000009f;
            text-align: center;

            h2 {
                color: white;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .card-img-overlay:hover {
            background-color: #00000062;
        }
    }
}
