body {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: black;
    font-size: 1.25rem;
}

a {
color: #E7D4F2;
text-decoration: none;
}

a:hover {
    color: #dee787;
}

h1 {
    color: white;
}

/* .figure-img {
    max-width: 75%

} */

.post-body img {
    max-width: 100%;
}

.post-body figure img {
    max-width: 75%;
    text-align: center;
}

.filter-green {
    filter: invert(56%) sepia(74%) saturate(979%) hue-rotate(120deg) brightness(93%) contrast(101%);
}

.filter-grey {
    filter: invert(100%);
}

/* ----- Landing Page ----- */

/* header */

.py-3 {
    padding-bottom: 0 !important;
}

h1.display-3 {
    vertical-align: bottom;
    margin-bottom: 0;
}

@media screen and (max-width: 480px) {
    h1.display-3 {
        font-size: 1.25em;
    }
}

/* buttons */

.button-container {
    text-align: center;

    .btn {
        margin: 0.25rem 0 0 0.25rem !important;
    }
}

/* footer */

.bmc-link {
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 530px) {
    .bmc-link {
        display: block;
        margin-left: auto;
    }
}

/* ----- Media Items ----- */

.media-container {
    margin-bottom: 1rem
}

.align-left {
    float: left;
    margin-right: 0.5rem;
    width: 50%;
}

.align-right {
    float: right;
    margin-left: 0.5rem;
    width: 50%;
}

.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 480px) {
    .align-left, .align-right {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.media-container img {
    width: 100%;
}

.media-container .image-caption {
    font-size: 1rem;
    color: #ADB2B8;
    background-color: black;
    padding: 0.25rem;
}

.media-container .metadata-container {
    font-size: 1rem;
    color: #ADB2B8;
    background-color: black;
    padding: 0.25rem;
    width: 100%;
}

.media-container .metadata-container th:first-child, .media-container .metadata-container td:first-child {
    padding-right: 2rem;
}

.media-container .metadata-container td {
    color: white;
}