body {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: black;
}
a {
color: #E7D4F2;
text-decoration: none;
}
a:hover {
    color: #dee787;
}

h1 {
    color: white;
}

/* .figure-img {
    max-width: 75%

} */

.post-body img {
    max-width: 100%;
}

.post-body figure img {
    max-width: 75%;
    text-align: center;
}