---
layout: default
---

<header class="py-3 container col-9">
    <div class="container px-0">
        <nav class="navbar">
            <a class="navbar-brand" href="{{ '/' | relative_url }}">
            <img class="filter-grey" src="{{ '/assets/images/wbbm-logo-black.svg' | relative_url}}" width="100" >
            Who Built Bryn Mawr?</a>
        </nav>
    </div>
</header>

<main>
    {{ content }}
</main>
<footer>
    <section class="footer container p-3">
        <div class="row justify-content-between">
            <div class="col text-end"><a href="https://www.brynmawr.edu/">Bryn Mawr College</a>, 2023</div>
        </div>
    </section>
</footer>
