---
layout: default
---
<header class="px-3 container">
    <div class="container">
    {% include navigation.html %}
    </div>
</header>
<main>
    <section class="p-3 container-fluid bg-dark">
        <div class="container">
            {% if page.key_image %}
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <figure class="figure col-8">
                        <img src="{{ page.key_image.url }}" class="figure-img img-fluid" alt="{{ page.key_image.alt }}">
                        <figcaption class="figure-caption text-right bg-dark">{{ page.key_image.caption }}</figcaption>
                    </figure>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-12">
                    <h1 class="display-5 text-center"> {{ page.title }}</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid bg-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                {{ content }}
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <section class="footer container p-3">
        <div class="row justify-content-between">
            <div class="col text-start"><a href="{{ site.baseurl }}">Who Built Bryn Mawr?</a></div>
            <div class="w-100 d-block d-md-none"></div>
            <div class="col text-start text-md-end"><a href="https://www.brynmawr.edu/">Bryn Mawr College</a>, 2023</div>
        </div>
    </section>
</footer>
